In [44]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from sklearn.tree import DecisionTreeClassifier
import sklearn.model_selection

# 5章 顧客の退会を予測する１０本ノック

引き続き、スポーツジムの会員データを使って顧客の行動を分析していきます。  
３章では顧客の全体像を把握し、4章では数ヶ月利用している顧客の来月の利用回数の予測を行いました。   
ここでは、教師あり学習の分類を用いて、顧客の退会予測を取り扱います。

### ノック41：データを読み込んで利用データを整形しよう

In [2]:
customer = pd.read_csv("customer_join.csv")

In [3]:
customer.shape

(4192, 18)

In [4]:
customer.head()

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,1,2019-04-30,47
1,PL270116,XXXXX,C01,M,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,5.083333,5.0,7,3,1,2019-04-30,47
2,OA974876,XXXXX,C01,M,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.583333,5.0,6,3,1,2019-04-30,47
3,HD024127,XXXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,4.5,7,2,1,2019-04-30,47
4,HD661448,XXXXX,C03,F,2015-05-01,NaN,CA1,0,ナイト,6000,通常,3.916667,4.0,6,1,1,2019-04-30,47

In [5]:
uselog_months = pd.read_csv("use_log_months.csv")

In [6]:
uselog_months.shape

(36842, 3)

In [7]:
uselog_months.head()

       年月 customer_id  count
0  201804    AS002855      4
1  201804    AS009013      2
2  201804    AS009373      3
3  201804    AS015315      6
4  201804    AS015739      7

#### 当月と過去1ヶ月の利用回数を集計したデータを作成

In [10]:
year_months = list(uselog_months["年月"].unique())
uselog = pd.DataFrame()
for i in range(1, len(year_months)):
    # 当月
    tmp = uselog_months.loc[uselog_months["年月"]==year_months[i]]
    tmp.rename(columns={"count":"count_0"}, inplace=True)
    # 一ヶ月前
    tmp_before = uselog_months.loc[uselog_months["年月"]==year_months[i-1]]
    del tmp_before["年月"]
    tmp_before.rename(columns={"count":"count_1"}, inplace=True)
    tmp = pd.merge(tmp, tmp_before, on="customer_id", how="left")
    uselog = pd.concat([uselog, tmp], ignore_index=True)

/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
uselog.head()

       年月 customer_id  count_0  count_1
0  201805    AS002855        5      4.0
1  201805    AS009373        4      3.0
2  201805    AS015233        7      NaN
3  201805    AS015315        3      6.0
4  201805    AS015739        5      7.0

In [11]:
uselog.shape

(33851, 4)

### ノック42：退会前月の退会顧客データを作成しよう

退会した顧客に絞り込んで、end_date列の1ヶ月前の年月を取得する。

In [14]:
exit_customer = customer.loc[customer["is_deleted"]==1]
exit_customer["exit_date"] = None
exit_customer["end_date"] = pd.to_datetime(exit_customer["end_date"])
for i in range(len(exit_customer)):
    exit_customer["exit_date"].iloc[i] = exit_customer["end_date"].iloc[i] - relativedelta(months=1)
exit_customer["年月"] = exit_customer["exit_date"].dt.strftime("%Y%m")
uselog["年月"] = uselog["年月"].astype(str)
exit_uselog = pd.merge(uselog, exit_customer, on=["customer_id", "年月"], how="left")

/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
len(uselog)

33851

In [16]:
exit_uselog.head()

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201805,AS002855,5,4.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201805,AS009373,4,3.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201805,AS015233,7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201805,AS015315,3,6.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201805,AS015739,5,7.0,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 欠損値（退会していないデータ）を削除

In [17]:
exit_uselog = exit_uselog.dropna(subset=["name"])

In [18]:
len(exit_uselog)

1104

In [19]:
len(exit_uselog["customer_id"].unique())

1104

In [20]:
exit_uselog.head()

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
19,201805,AS055680,3,3.0,XXXXX,C01,M,2018-03-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,3.0,3.0,0.0,2018-06-30,3.0,2018-05-30 00:00:00
57,201805,AS169823,2,3.0,XX,C01,M,2017-11-01,2018-06-30,CA1,...,10500.0,通常,3.000000,3.0,4.0,2.0,1.0,2018-06-30,7.0,2018-05-30 00:00:00
110,201805,AS305860,5,3.0,XXXX,C01,M,2017-06-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,12.0,2018-05-30 00:00:00
128,201805,AS363699,5,3.0,XXXXX,C01,M,2018-02-01,2018-06-30,CA1,...,10500.0,通常,3.333333,3.0,5.0,2.0,0.0,2018-06-30,4.0,2018-05-30 00:00:00
147,201805,AS417696,1,4.0,XX,C03,F,2017-09-01,2018-06-30,CA1,...,6000.0,通常,2.000000,1.0,4.0,1.0,0.0,2018-06-30,9.0,2018-05-30 00:00:00

### ノック43：継続顧客のデータを作成しよう

In [21]:
conti_customer = customer.loc[customer["is_deleted"]==0]
conti_uselog = pd.merge(uselog, conti_customer, on=["customer_id"], how="left")

In [22]:
len(conti_uselog)

33851

In [23]:
conti_uselog = conti_uselog.dropna(subset=["name"])

In [24]:
len(conti_uselog)

27422

#### 継続顧客の顧客あたり1件になるようにアンダーサンプリング

In [25]:
# データのシャッフル
conti_uselog = conti_uselog.sample(frac=1).reset_index(drop=True)
# customer_idが重複しているデータは最初のデータのみを取得する
conti_uselog = conti_uselog.drop_duplicates(subset="customer_id")

In [26]:
len(conti_uselog)

2842

In [27]:
conti_uselog.head()

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,class_name,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,201807,OA545330,6,8.0,XXXX,C01,M,2017-10-01,NaN,CA1,...,オールタイム,10500.0,通常,6.166667,6.0,11.0,2.0,1.0,2019-04-30,18.0
1,201902,OA628170,3,7.0,XXX,C03,F,2015-09-01,NaN,CA1,...,ナイト,6000.0,通常,4.666667,5.0,8.0,1.0,1.0,2019-04-30,43.0
2,201902,OA016045,5,5.0,XXXXX,C03,F,2015-11-01,NaN,CA1,...,ナイト,6000.0,通常,4.500000,5.0,7.0,1.0,1.0,2019-04-30,41.0
3,201902,HD296847,5,7.0,XXXX,C02,F,2017-02-01,NaN,CA1,...,デイタイム,7500.0,通常,5.583333,5.5,8.0,4.0,1.0,2019-04-30,26.0
4,201809,PL001979,5,3.0,XXXXX,C01,M,2016-06-01,NaN,CA1,...,オールタイム,10500.0,通常,4.750000,5.0,7.0,3.0,1.0,2019-04-30,34.0

#### 継続顧客のデータと退会顧客のデータを縦に結合

In [28]:
predict_data = pd.concat([conti_uselog, exit_uselog], ignore_index=True)

In [29]:
len(predict_data)

3946

In [30]:
predict_data.head()

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date
0,201807,OA545330,6,8.0,XXXX,C01,M,2017-10-01,NaN,CA1,...,10500.0,通常,6.166667,6.0,11.0,2.0,1.0,2019-04-30,18.0,NaN
1,201902,OA628170,3,7.0,XXX,C03,F,2015-09-01,NaN,CA1,...,6000.0,通常,4.666667,5.0,8.0,1.0,1.0,2019-04-30,43.0,NaN
2,201902,OA016045,5,5.0,XXXXX,C03,F,2015-11-01,NaN,CA1,...,6000.0,通常,4.500000,5.0,7.0,1.0,1.0,2019-04-30,41.0,NaN
3,201902,HD296847,5,7.0,XXXX,C02,F,2017-02-01,NaN,CA1,...,7500.0,通常,5.583333,5.5,8.0,4.0,1.0,2019-04-30,26.0,NaN
4,201809,PL001979,5,3.0,XXXXX,C01,M,2016-06-01,NaN,CA1,...,10500.0,通常,4.750000,5.0,7.0,3.0,1.0,2019-04-30,34.0,NaN

### ノック44：予測する月の在籍期間を作成しよう

In [31]:
predict_data["period"] = 0
predict_data["now_date"] = pd.to_datetime(predict_data["年月"], format="%Y%m")
predict_data["start_date"] = pd.to_datetime(predict_data["start_date"])
for i in range(len(predict_data)):
    delta = relativedelta(predict_data["now_date"][i], predict_data["start_date"][i]) # ここで差を取っており、これが期間となる。
    predict_data["period"][i] = int(delta.years*12 + delta.months)

/Users/r0363/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
predict_data.head()

,年月,customer_id,count_0,count_1,name,class,gender,start_date,end_date,campaign_id,...,mean,median,max,min,routine_flg,calc_date,membership_period,exit_date,period,now_date
0,201807,OA545330,6,8.0,XXXX,C01,M,2017-10-01,NaN,CA1,...,6.166667,6.0,11.0,2.0,1.0,2019-04-30,18.0,NaN,9,2018-07-01
1,201902,OA628170,3,7.0,XXX,C03,F,2015-09-01,NaN,CA1,...,4.666667,5.0,8.0,1.0,1.0,2019-04-30,43.0,NaN,41,2019-02-01
2,201902,OA016045,5,5.0,XXXXX,C03,F,2015-11-01,NaN,CA1,...,4.500000,5.0,7.0,1.0,1.0,2019-04-30,41.0,NaN,39,2019-02-01
3,201902,HD296847,5,7.0,XXXX,C02,F,2017-02-01,NaN,CA1,...,5.583333,5.5,8.0,4.0,1.0,2019-04-30,26.0,NaN,24,2019-02-01
4,201809,PL001979,5,3.0,XXXXX,C01,M,2016-06-01,NaN,CA1,...,4.750000,5.0,7.0,3.0,1.0,2019-04-30,34.0,NaN,27,2018-09-01

### ノック45：欠損値を除去しよう

In [33]:
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1               265
name                    0
class                   0
gender                  0
start_date              0
end_date             2842
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2842
period                  0
now_date                0
dtype: int64

In [34]:
predict_data = predict_data.dropna(subset=["count_1"])

In [35]:
predict_data.isna().sum()

年月                      0
customer_id             0
count_0                 0
count_1                 0
name                    0
class                   0
gender                  0
start_date              0
end_date             2629
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
exit_date            2629
period                  0
now_date                0
dtype: int64

### ノック46：文字列型の変数を処理できるように整形しよう

In [36]:
target_col = ["campaign_name", "class_name", "gender", "count_1", "routine_flg", "period", "is_deleted"]
predict_data = predict_data[target_col]

In [37]:
predict_data.head()

  campaign_name class_name gender  count_1  routine_flg  period  is_deleted
0            通常     オールタイム      M      8.0          1.0       9         0.0
1            通常        ナイト      F      7.0          1.0      41         0.0
2            通常        ナイト      F      5.0          1.0      39         0.0
3            通常      デイタイム      F      7.0          1.0      24         0.0
4            通常     オールタイム      M      3.0          1.0      27         0.0

In [38]:
predict_data = pd.get_dummies(predict_data)

In [39]:
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_name_入会費半額,campaign_name_入会費無料,campaign_name_通常,class_name_オールタイム,class_name_デイタイム,class_name_ナイト,gender_F,gender_M
0,8.0,1.0,9,0.0,0,0,1,1,0,0,0,1
1,7.0,1.0,41,0.0,0,0,1,0,0,1,1,0
2,5.0,1.0,39,0.0,0,0,1,0,0,1,1,0
3,7.0,1.0,24,0.0,0,0,1,0,1,0,1,0
4,3.0,1.0,27,0.0,0,0,1,1,0,0,0,1

In [40]:
del predict_data["campaign_name_通常"]
del predict_data["class_name_ナイト"]
del predict_data["gender_M"]

In [41]:
predict_data.head()

,count_1,routine_flg,period,is_deleted,campaign_name_入会費半額,campaign_name_入会費無料,class_name_オールタイム,class_name_デイタイム,gender_F
0,8.0,1.0,9,0.0,0,0,1,0,0
1,7.0,1.0,41,0.0,0,0,0,0,1
2,5.0,1.0,39,0.0,0,0,0,0,1
3,7.0,1.0,24,0.0,0,0,0,1,1
4,3.0,1.0,27,0.0,0,0,1,0,0

### ノック47：決定木を用いて退会予測モデルを作成してみよう

In [50]:
exit = predict_data.loc[predict_data["is_deleted"]==1]
conti = predict_data.loc[predict_data["is_deleted"]==0].sample(len(exit))

In [51]:
X = pd.concat([exit, conti], ignore_index=True)
y = X["is_deleted"]
del X["is_deleted"]
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y)

In [52]:
model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)
y_test_pred = model.predict(X_test)

In [53]:
y_test_pred

array([1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1.,
       1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1.,
       0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1.,
       0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1.,
       0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0.,
       0., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0.,
       1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0.,
       1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0.,
       1., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1.,
       1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1.])

In [54]:
results_test = pd.DataFrame({"y_test":y_test, "y_pred":y_test_pred})

In [55]:
results_test.head()

      y_test  y_pred
88       1.0     1.0
119      1.0     1.0
1308     0.0     0.0
2011     0.0     0.0
4        1.0     1.0

### ノック48：予測モデルの評価を行ない、モデルのチューニングをしてみよう

In [56]:
correct = len(results_test.loc[results_test["y_test"]==results_test["y_pred"]])
data_count = len(results_test)
score_test = correct / data_count

In [57]:
score_test

0.8916349809885932

#### 学習データと評価データで予測した精度の差を確認

In [58]:
model.score(X_test, y_test)

0.8916349809885932

In [59]:
model.score(X_train, y_train)

0.9784537389100126

#### 木の深さを変えて再度予測モデルを作成

In [60]:
model2 = DecisionTreeClassifier(random_state=0, max_depth=5)
model2.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [61]:
model2.score(X_test, y_test)

0.908745247148289

In [62]:
model2.score(X_train, y_train)

0.9283903675538656

### ノック49：モデルに寄与している変数を確認しよう

In [63]:
importance = pd.DataFrame({"feature_names": X.columns, "coefficient": model2.feature_importances_})

In [64]:
importance

         feature_names  coefficient
0              count_1     0.364324
1          routine_flg     0.118984
2               period     0.516692
3  campaign_name_入会費半額     0.000000
4  campaign_name_入会費無料     0.000000
5    class_name_オールタイム     0.000000
6     class_name_デイタイム     0.000000
7             gender_F     0.000000

### ノック50：顧客の退会を予測しよう

5章_顧客の退会を予測する１０本ノック_answer.ipynbを参照